@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

h2 {
  color: #282828;
  font-family: 'SUIT-Regular';
  font-size: 26px;
  font-weight: 600;
  line-height: 100%; /* 26px */
  letter-spacing: -0.2px;
}

h3 {
  overflow: hidden;
  color: #282828;
  text-overflow: ellipsis;
  font-family: 'SUIT-Regular';
  font-size: 20px;
  font-weight: 600;
  line-height: 100%; /* 20px */
}

h4 {
  overflow: hidden;
  color: #282828;
  text-overflow: ellipsis;
  font-family: 'SUIT-Regular';
  font-size: 18px;
  font-weight: 600;
  line-height: 100%; /* 18px */
}

.body1 {
  color: #282828;
  font-family: 'SUIT-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.body2 {
  overflow: hidden;
  color: #949494;
  text-overflow: ellipsis;
  font-family: 'SUIT-Regular';
  font-size: 15px;
  font-weight: 500;
  line-height: 100%; /* 13px */
}

.body3 {
  overflow: hidden;
  color: #282828;
  text-overflow: ellipsis;
  font-family: 'SUIT-Regular';
  font-size: 15px;
  font-weight: 500;
  line-height: 100%; /* 13px */
}

.body4 {
  overflow: hidden;
  color: #282828;
  text-overflow: ellipsis;
  font-family: 'SUIT-Regular';
  font-size: 13px;
  font-weight: 400;
  line-height: 100%; /* 13px */
}

.footerText {
  color: #282828;
  font-family: 'SUIT-Regular';
  font-size: 13px;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}

.footerText1 {
  color: #282828;
  font-family: 'SUIT-Regular';
  font-size: 12px;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

i,
em,
strong,
b {
  font-weight: nomal;
  font-style: nomal;
}
